.main {
  max-width: 1240px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #4c4cff;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
