.data{
  display: flex;
  justify-content: space-between;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  background-color: #1C1C21;
  border-radius: 40px;
  width: 584px;
  margin-bottom: 16px;
}
.price{
  display: flex;
}
.image{
  display: flex;
}
.container{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  position: relative;
}
.link {
  text-decoration: none;
  color: #f2f2f3;
}
.status_color_red {
  color: #E52B1A;
}
.status_color_green {
  color: #00CCCC;
}
.status_color_white {
  color: #F2F2F3;
}
.overlay {
  background: rgba(19, 19, 22, 0.6);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: -15px;    
}
