body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .loader {
  width: 75px;
  height: 75px;
  border:10px solid rgb(61%, 15%, 69%, 0.5);
  border-radius: 50%;
  border-left-color:#9C27B0;
  animation: loader 1.3s linear infinite;
 }
 @keyframes loader {
  100% {
   transform: rotate(360deg);
  }
 }