.main {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: #4c4cff;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
