.box{
  display: flex;
  justify-content: space-between;
	margin: 0;
	padding-left: 0;
	gap: 20px
}
.ingredient {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	/* width: 600px; */
  /* align-items: center; */
}
.container {
	display: flex;
	flex-direction: column;
}

.container__subtitle{
  text-align: center;
  /* align-items: center; */
}
.box__item {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.box__sum {
  margin: 0;
}