.box{
  display: flex;
  justify-content: space-between;
	margin: 0;
	padding-left: 0;
	gap: 20px
}
.ingredient {
	/* display: flex;
	align-self: center;
	flex-direction: column;
	box-sizing: border-box;
	width: 640px;
	justify-content: center; */
	/* text-align: center; */

	display: flex;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  width: 640px;
}
.container {
	display: flex;
	flex-direction: column;
}

.container__subtitle{
  text-align: center;
}
.box__item {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.box__sum {
  margin: 0;
}