.img{
  background-color: #131316;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: double 2px transparent;  
  background-image: linear-gradient(rgba(19,19,22,1),rgba(19,19,22,1)), radial-gradient(#801AB2,#4C4CFF);
  background-clip: content-box, border-box;
  display: flex;
  align-items: center;
  margin-right: -20px;
  justify-content: center;
  /* background-size: contain; */
}
.container{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}
/* .img:first-child{
  margin-right: 0;
} */

.icon{
  /* width: 90%;   */
  /* height: 80%; */
  /* background-size: contain; */
}