.item{
  display: flex;
  align-items: center;
	/* justify-content: space-between; */
}

.container{
  display: flex;
  flex-direction: column;
  margin: 100px auto;  
}

.list{
  padding-left: 0;
  margin: 0;
  /* list-style-type: none; */
}

.element{
  margin-left: 24px;
}

.total{
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: flex-end;
}

.price{
  display: flex;
  /* text-align: center; */
  /* align-items: center; */
}